{% extends "shared/layout.html" %}
{% load static %}
{% block title %}| Change Password {% endblock %}
{% block body %}

<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          Change Password 
        </h1>
        <p class="lead">Always remember to keep your password safe, donot share your password with others</p>
        <div class="search">
          <form action="{% url 'change_password' %}" method="POST">
					{% csrf_token %}

                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" name="current_password" placeholder="Current Password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Create new password</label>
                    <input type="password" name="new_password" placeholder="Create New Password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Confirm new password</label>
                    <input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" required>
                </div>

                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}