{% extends "shared/layout.html" %}
{% load static %}
{% block title %}| Forgot password {% endblock %}
{% block body %}

<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          FORGOT PASSWORD
        </h1>
        <p class="lead">Dont't worry we gat you cover</p>
        <div class="search">
          <form action="{% url 'forgotPassword' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
			 <input type="email" class="form-control" placeholder="Email Address" name="email">
          </div> <!-- form-group// -->
          
          <div class="form-group">
          	<a href="{% url 'login' %}" class="float-right">Got Password? Login</a>

          </div> <!-- form-group form-check .// -->
          <div class="form-group">
               <input type="hidden" name="next" value="{{ next }}">
            <button class="btn btn-secondary btn-block mt-4" type="submit" value="Log-in">Reset Password</button>
          </div> <!-- form-group// -->
      </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}