@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif
}

.container div.row div.col-md-12 div.wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    width: 100%;
}

.container div.row div.col-md-12 div.wrapper div {
    border: 2px solid #4d9e89;
    width: 100%;
    padding: 20px;
    margin-bottom: 49px;
    margin-top: 10px;
}